# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Cython files
*.c
*.so

# Logs and databases
*.log
*.sqlite3

# Package files
*.egg-info/
dist/
build/
*.egg
*.whl

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variable files
.env
.env.*

# MacOS files
.DS_Store

# Python project configuration files
*.cfg
*.ini

# Profiling data
.prof

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Test result files
coverage.xml
nosetests.xml
test-results/

# Data files
*.csv

# build files 
build/
log/
install/

# any cisstLog files
cisstLog*

# any python bytecode files
*.pyc


# any specific kinematics files 
src/cr_dvrk_kinematics/cr_dvrk_kinematics/compute_fk_tdcrpsm.py
src/cr_dvrk_kinematics/cr_dvrk_kinematics/ctr_tr_kinematics.py