
# To install, run on terminal pip install -r requirements.txt inside an 
# activted python virtual environment 

# General purpose libraries
numpy==1.24.4
scipy==1.10.1
matplotlib==3.7.5

# robotics related 
modern_robotics